<div style="display: flex; justify-content: center">
  <div id='container-garcon' style='width: 700px; height: 700px;'></div> 
  <div id='container-fille' style='width: 700px; height: 700px;'></div> 
</div>
<%= javascript 'forms', 'departementDictionary', 'totalMaps' %>
