<div class="container">
  <div class="title">
    <h1>French education statistic</h1>
  </div>
  <div class="filters">
    <select name="annees" id="annee-select">
    </select>
    <select name="departements" id="departement-select">
    </select>
    <select name="niveaux" id="niveau-select">
    </select>
    <button id="submit-statistique-parite">Search</button>
  </div>
  <div class="statistique-parite">
    <table>
      <tr>
        <th>Nombre de fille</th>
        <th>Nombre de garçon</th>
      <tr>
      <tr>
        <td id="nombre-fille"></td>
        <td id="nombre-garcon"></td>
      <tr>
    </table>
  </div>
</div>
