<div class="container">
  <div class="title">
    <h1>French education statistic</h1>
  </div>
  <div class="filters">
    <select name="annees" id="annee-select"></select>
    <select name="niveaux" id="niveau-select"></select>
    <button id="submit-statistique-parite">Search</button>
  </div>
</div>
<%= render partial: 'total_maps' %>
