<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'home' %>
  </head>
  <body>
    <%= javascript 'https://code.highcharts.com/maps/highmaps.js', 'https://code.highcharts.com/maps/modules/exporting.js', 'https://code.highcharts.com/mapdata/countries/fr/fr-all-all.js', 'application' %>
    
    <%= yield %>
  </body>
</html>
